
@{
    Layout = "_Layout_Cliente";
    var listado_solicitudes = ViewBag.Listado_Solicitudes;
}

<div class="row">
    <div class="col-md-4">
        <h1>Listado de solicitudes</h1>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <form action="" method="get" class="mini_formulario_para_consultar_solicitudes">
            <div class="input-group">
                    <input type="text" name="noticias" class="form-control" placeholder="No. del pedido">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
            </div><!-- /input-group -->
            <!--</div> /.col-lg-6 -->
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Filtrar solicitudes
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Pendientes</a></li>
                <li><a href="#">Facturados</a></li>
                <li><a href="#">En Proceso</a></li>
                <li><a href="#">Entregados</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row tabla_listado_de_solicitudes">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>No. del pedido</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th>Balance</th>
                <th>Tipo de servicio</th>
                <th>Descripcion</th>
                <th>Eliminar</th>
            </tr>
            @foreach (var item in listado_solicitudes)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Cantidad</td>
                    <td>@item.Estatus</td>
                    <td>----Aqui el precio</td>
                    <td>@item.TipoDeSolicitud</td>
                    <td>@item.Descripcion</td>
                    <td>
                        <a asp-controller="Cliente" asp-action="Eliminar_Solicitud" asp-route-id_solicitud="@item.Id" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>