@using Sistema_Aduanero.Models;

@{
    Layout = "_Layout_Cliente";
    var datos_del_usuario = ViewBag.Perfil;
    string datos_telefono = (ViewBag.Telefono_Usuario.Telefono != null) ? ViewBag.Telefono_Usuario.Telefono : "Agrega tu telefono.";
    string datos_correo = (ViewBag.Correo_Usuario.Correo != null) ? ViewBag.Correo_Usuario.Correo : "Agrega tu correo.";
}

<div class="row fila_datos_perfil_empleado">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>@datos_del_usuario.Nombres @datos_del_usuario.Apellidos</h1>
            </li>
            <li class="list-group-item">
                <b>Nombre(s):</b> @datos_del_usuario.Nombres
            </li>
            <li class="list-group-item">
                <b>Apellido(s):</b> @datos_del_usuario.Apellidos
            </li>
            <li class="list-group-item">
                <b>Código cliente:</b> @datos_del_usuario.Id
            </li>
            <li class="list-group-item">
                <b>Cedula:</b> @datos_del_usuario.Cedula
            </li>
            <li class="list-group-item">
                <b>Telefono:</b> @datos_telefono
            </li>
            <li class="list-group-item">
                <b>Correo:</b> @datos_correo
            </li>
            <li class="list-group-item">
                <a asp-action="Cerrar_Sesion" class="btn btn-danger btn-block">
                    Cerrar Sesión <span class="glyphicon glyphicon-off"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-2 botonera_del_perfil_cliente">
        <a asp-controller="Cliente" asp-action="Listado_De_Servicios_Contratados" class="btn btn-info btn-block">Consultar Pedidos</a>
        <a asp-controller="Cliente" asp-action="Solicitar_Servicio_De_Importacion_O_Exportacion" class="btn btn-info btn-block">
            Hacer nueva Solicitud o Encargo
        </a>
    </div>
</div>