@using Sistema_Aduanero.Models
@{
    Layout = "_Layout_Empleados";
    var solicitudes_facturadas = ViewBag.Solicitudes_Facturadas;
}

<div class="">
    <div class="col-md-4 col-md-offset-4">
        <h1>Declarar Articulo</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>No. del pedido</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th>Tipo de servicio</th>
                <th>Declarar</th>
            </tr>
            @foreach (var item in solicitudes_facturadas)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Cantidad</td>
                    <td>@item.Estatus</td>
                    <td>@item.TipoDeSolicitud</td>
                    <td>
                        <a asp-controller="Empleado" asp-action="Declarar" asp-route-id_solicitud="@item.Id" class="btn btn-info">
                            <span class="glyphicon glyphicon-ok"></span> Declarar
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>