@{
    Layout = "_Layout_Empleados";
    var datos_del_usuario = ViewBag.Perfil;
    string datos_telefono = (ViewBag.Telefono_Usuario.Telefono != null) ? ViewBag.Telefono_Usuario.Telefono : "Agrega tu telefono.";
    string datos_correo = (ViewBag.Correo_Usuario.Correo != null) ? ViewBag.Correo_Usuario.Correo : "Agrega tu correo.";
}

<div class=""></div>
<div class="row fila_datos_perfil_empleado">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>@datos_del_usuario.Nombres @datos_del_usuario.Apellidos</h1>
            </li>
            <li class="list-group-item">
                <b>Nombre(s):</b> @datos_del_usuario.Nombres
            </li>
            <li class="list-group-item">
                <b>Apellido(s):</b> @datos_del_usuario.Apellidos
            </li>
            <li class="list-group-item">
                <b>Código cliente:</b> @datos_del_usuario.Id
            </li>
            <li class="list-group-item">
                <b>Telefono:</b> @datos_telefono
            </li>
            <li class="list-group-item">
                <b>Correo:</b> @datos_correo
            </li>
            <li class="list-group-item">
                <a asp-action="Cerrar_Sesion" class="btn btn-danger btn-block">
                    Cerrar Sesión <span class="glyphicon glyphicon-off"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-2 botonera_del_perfil_empleado">
        <a asp-controller="Empleado" asp-action="Listado_Clientes" class="btn btn-info btn-block">
            <b>Ver Clientes</b>
        </a>
        <a asp-controller="Empleado" asp-action="Listado_De_Solicitudes" class="btn btn-info btn-block">
            <b>Consultar Pedidos</b>
        </a>
        <a asp-controller="Empleado" asp-action="Envio" class="btn btn-info btn-block">
            <b>Enviar Mercancia</b>
        </a>
        <a asp-controller="Empleado" asp-action="Hacer_Entrega" class="btn btn-info btn-block">
            <b>Entregar Mercancia</b>
        </a>
    </div>
</div>